SPRING_ENV=dev
SPRING_APP_NAME=VetsMicroservice
HOST_PORT=8083
HOST_DB_PORT=3308

MYSQL_DATABASE=vets_api
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_PORT=3308
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8092
